:root {
  --color-text-hero: #080808;
  --color-footer-adress-link: #080808;
  --text-btn: #212121;
  --color-btn: #f5f4fa;
  --text-btn-hover: #ffffff;
  --color-btn-hover: #2196f3;
}
/* body {
  font-family: var(--font-family-main);
  color: var(--color-text-main);
  background-color: var(--color-bgd-main);
} */

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* .hidden-title {
text-decoration: none;
}
/* ==================header============ */
.page-header {
}

.page-nav {
}

.logotipe {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196f3;
}
.logotipe-accent {
  color: #212121;
}

.menu-item {
}

.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.phone-number {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #757575;
}

.phone-number:hover,
.phone-number:focus {
  color: #2196f3;
}

.mail {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  letter-spacing: 0.02em;
  color: #757575;
}

/* ==========START PORTFOLIO========== */

.mail:hover,
.mail:focus {
  color: #2196f3;
}

/* ==================main============ */

.title-hero {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--color-text-hero);
}

.button {
  background: #2196f3;
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.text-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.text-button:hover,
.text-button:focus {
  color: #ffffff;
}
/* ================ чем мы занимаемся ============ */
.future-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.future {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: #757575;
}

.secondary-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17x;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/*===============  наша команда  ===============*/
.team-item-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.team-item-description {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ================ footer ================== */

.footer-address {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-footer-adress-link);
}

.footer-adress-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 2;
  letter-spacing: 0.03em;
  color: var(--color-footer-adress-link);
}

/* ================ Portfolio ================== */
.filters-btn {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-btn);
  background-color: var(--color-btn);
  cursor: pointer;
  border-radius: 4px;
}
.filters-btn:hover,
.filters-btn:focus {
  background-color: var(--color-btn-hover);
  color: var(--text-btn-hover);
}

.portfolio-title-h2 {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.portfolio-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}
